<a href="https://colab.research.google.com/github/saman-nia/Task/blob/master/Task_Saman.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import required libraries.**

In [0]:
from google.colab import files
import pandas as pd
import numpy as np
import math

**Here you can load your txt data. You can select both *bug.txt* and *landscape.txt* at one upload. Please click on the Choose Files and select those txt files.
Note: Sometimes it gets error for uploading the files. If an error raises up, simply rerun the code.**

In [2]:
text_files = files.upload()

Saving landscape.txt to landscape.txt
Saving bug.txt to bug.txt

**Here, I try to detect the pattern in the bug.txt.**

In [0]:
bug_raw = 0
bug_col=1
with open('bug.txt','r') as f:
  for i, line in enumerate (f):
    bug_raw = bug_raw + 1
    if i == 0:
      for j, charac in enumerate (line):
        bug_col = bug_col + 1

**Initialize a zero matrix with same size of the bug.txt.**

In [0]:
bug_matrix = np.asarray([[0 for x in range(bug_col)] for y in range(bug_raw)])

**Replace ordinal value of each character on its position.**

In [0]:
with open('bug.txt','r') as f:
    for i, line in enumerate (f):
      for j, charac in enumerate (line):
        bug_matrix[i][j] = ord(charac)

**Getting real pattern from the bug by replacing zero value of each space on its position and remove space from its edges.**

In [0]:
bug_matrix[bug_matrix == 10] = 0
bug_matrix[bug_matrix == 32] = 0
if bug_matrix[-1].sum() == 0:
  bug_matrix =np.delete(bug_matrix, -1, axis=0)
if bug_matrix.T[-1].sum() == 0:
  bug_matrix =np.delete(bug_matrix, -1, axis=1)

**Here is the pattern of the bug...**

In [80]:
pd.DataFrame(bug_matrix)

     0   1    2   3
0  124   0  124   0
1   35  35   35  79
2  124   0  124   0

**Do the same steps for the landscape file, just we should keep extra space on the edges.**

In [0]:
landscape_raw = 0
landscape_col=1
with open('landscape.txt','r') as f:
  for i, line in enumerate (f):
    landscape_raw = landscape_raw + 1
    if i == 0:
      for j, charac in enumerate (line):
        landscape_col = landscape_col + 1

In [0]:
landscape_matrix = np.asarray([[0 for x in range(landscape_col)] 
                               for y in range(landscape_raw)])

In [0]:
with open('landscape.txt','r') as f:
    for i, line in enumerate (f):
      for j, charac in enumerate (line):
        landscape_matrix[i][j] = ord(charac)

In [0]:
landscape_matrix[landscape_matrix == 10] = 0
landscape_matrix[landscape_matrix == 32] = 0

In [85]:
pd.DataFrame(landscape_matrix)

   0   1   2   3    4   5    6   7   8   ...  32  33  34   35  36   37  38  39  40
0   0   0   0   0    0   0    0   0   0  ...   0   0   0    0   0    0   0   0   0
1   0   0   0   0  124   0  124   0   0  ...   0   0   0    0   0    0   0   0   0
2   0   0   0   0   35  35   35  79   0  ...   0   0   0    0   0    0   0   0   0
3   0   0   0   0  124   0  124   0   0  ...   0   0   0    0   0    0   0   0   0
4   0   0   0   0    0   0    0   0   0  ...   0   0   0    0   0    0   0   0   0
5   0   0   0   0    0   0    0   0   0  ...   0   0   0  124   0  124   0   0   0
6   0   0   0   0    0   0    0   0   0  ...   0   0   0   35  35   35  79   0   0
7   0   0   0   0    0   0    0   0   0  ...   0   0   0  124   0  124   0   0   0
8   0   0   0   0    0   0    0   0   0  ...   0   0   0    0   0    0   0   0   0

[9 rows x 41 columns]

In [0]:
npoint = len(landscape_matrix) * len(landscape_matrix[0]) # calculte the number of units in the landspace's matrix.
nconv = len(bug_matrix) * len(bug_matrix[0]) # calculte the number of units in the bug's matrix.
outside_if_loop = len(bug_matrix) # calculte the number of units in the bug' raw.
inside_if_loop = len(bug_matrix[0]) # calculte the number of units in the bug' column.
len_bug_matrix = outside_if_loop * inside_if_loop

**This function check the matches points between bug and landscape during the sliding process.**

In [0]:
def counter_bugs(land_raw, land_col, bug_raw, bug_col):
  return landscape_matrix[land_raw][land_col] == bug_matrix[bug_raw][bug_col]

**Here we sliding bug's pattern on the landscape matrix to find any matches.**

In [89]:
counter = 0    # a counter for count the number of bug in the landscape.
for l in range(npoint):
  
  inner_counter = 0 # a temporary counter to check all single point in the bug' matrix on the landscape.
  
  index_raw = l // len(landscape_matrix[0]) # index of raw point in landescpace.
  
  index_col = l % len(landscape_matrix[0]) # index of column point in landscape.
  
  # Sliding bug on the landspace.
  for i in range(outside_if_loop):
    
    for j in range(inside_if_loop):
      
      if len(landscape_matrix) > index_raw+i and counter_bugs(
          index_raw+i, index_col+j, i, j) == False:
        
        break
        
      else:
        
        inner_counter = inner_counter + 1
        
  if inner_counter == len_bug_matrix:
    
    counter = counter + 1
    
print("There are << {:d} >> bugs in the landscape.".format(counter))

There are << 3 >> bugs in the landscape.